<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>

    <base href="/"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bower_components/c3/c3.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/webfont/Fontsaddict.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-datetimepicker.min.css"/>

</head>
<body ng-app="MainApp" background="assets/img/background.jpg">

    <!--Хедер-->
    <div class="page-header">
        <h1 class="text-center">Прогноз погоди {{cityName}}</h1>
    </div>

    <div class="container">
        <div class="row padded">
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                <div ng-controller="RequestCtrl" class="input-group">
                    <input type="text" class="form-control" placeholder="Назва міста..." ng-model="cityName">
                    <div class="input-group-btn">
                        <a href="#forecast"><button ng-click="getData()" class="btn btn-primary" type="button">Пошук!</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
        </div>

        <div style="height: 20px"></div>

        <ng-view></ng-view>

        <!-- DB -->
        <div ng-controller="DataBaseCtrl" class="row padded">
            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"> </div>
            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">
                <div class="sample-show-hide" ng-show="showOperationWithDB">
                    <div class="thumbnail">
                        <h3 class="text-center">Операції з базою даних</h3>
                        <h5 class="text-center">Вивести запит:</h5>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="input-group date" id="dateTimePickerMin">
                                        <input type="text" ng-model="date1" class="form-control" placeholder="Початкова дата...">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="input-group date" id="dateTimePickerMax">
                                        <input type="text" ng-model="date2" class="form-control" placeholder="Кінцева дата...">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="text-align: center">
                            <input type="text" class="form-control" ng-model="cityName" placeholder="Назва міста...">
                            <div style="height: 10px"></div>
                            <a href="#showFromDB"><button ng-click="setParameters(cityName); getData()" class="btn btn-success" type="submit">Показати дані</button></a>
                            <button ng-click="deleteData(0)" class="btn btn-warning">Видалити дані</button>
                        </div>

                        <div style="height: 20px"></div>
                    </div>
                </div>
                <button ng-click="showOperationWithDB = !showOperationWithDB; changeButtonName();" class="btn btn-primary center-block" type="button">{{buttonName}}</button>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"> </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/jquery/dist/jquery-1.11.1.min.js"></script>
    <script src="bower_components/moment-with-locales.min.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/d3/d3.min.js" charset="utf-8"></script>
    <script src="bower_components/c3/c3.min.js"></script>
    <script src="app/main.js"></script>
</body>
</html>