<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bower_components/c3/c3.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/webfont/Fontsaddict.css">

</head>
<body>
    <div ng-controller="RequestCtrl">
        {{returnData()}}
        <div ng-if="data!='empty' && data!='null'" ng-init="drawChart()">
            <div class="thumbnail">
                <img ng-src="{{data.list[0].weather[0].main | formatLargeIconFilter}}" width="320px" heidht ="320px" alt="..." class="img-rounded">
                <div class="caption">
                    <p class="text-center"><b>{{returnInputCityName()}} ({{data.city.name}}, {{data.city.country}})</b></p>
                    <p class="text-center">{{data.list[0].dt | formatDayOfWeekFilter}} {{data.list[0].dt | formaShortDateFilter}}</p>
                    <p class="text-center">Атмосферний тиск: {{data.list[0].pressure}} мм</p>
                    <p class="text-center">Температура: {{data.list[0].temp.day | formatTempFilter}}</p>
                    <p class="text-center">Вітер: {{data.list[0].speed}} м/с</p>
                    <p class="text-center">Вологість: {{data.list[0].humidity}}%</p>
                </div>
            </div>

            <div class="thumbnail">
                <div id="chart"></div>
            </div>

            <div class="scale-of-measurement" class="row padded">
                <div ng-repeat="i in [1,2,3,4,5,6]">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <div class="row padded">
                                <div class="scale-of-measurement__item, text-center">
                                    <p class="{{data.list[i].weather[0].main | formatIconFilter}}"></p>
                                    <p class="text-center"><small>{{data.list[i].dt | formatDayOfWeekFilter}} {{data.list[i].dt | formaShortDateFilter}}</small></p>
                                    <p class="text-center"><small>Температура: {{data.list[i].temp.day | formatTempFilter}}</small></p>
                                    <p class="text-center"><small>Атм. тиск: {{data.list[i].pressure}} мм</small></p>
                                    <p class="text-center"><small>Вітер: {{data.list[i].speed}} м/с</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="DataBaseCtrl" class="row padded">
                <div class="col-xs-1"> </div>
                <div class="col-xs-10">
                    <div class="thumbnail">
                        <h5 class="text-center">Зберегти даний проноз у базу даних:</h5>
                        <button class="btn btn-primary center-block" type="button" ng-click="saveData(data)">Зберегти</button>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>

        <div ng-if="data=='null'">
            <div class="col-sm-1 col-xs-0"></div>
            <div class="col-sm-10 col-xs-12">
                <div class="thumbnail">
                    <div class="row padded">
                        <div class="col-xs-5" style="text-align: center">
                            <img src="assets/img/oops.jpg" width="100px" heidht ="100px">
                        </div>
                        <div class="col-xs-7" style="margin-top: 10px">
                            <p>На жаль, інформації по даному місту не знайдено.</p>
                            <p>Спробуйте ввести інше місто, наприклад:</p>
                            <p>Вінниця, Киев, London.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-xs-0"></div>
        </div>

        <div ng-if="data=='empty'">
            <div style="text-align: center">
                <img src="assets/img/loading.gif"  width="120px" heidht ="120px">
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/d3/d3.min.js" charset="utf-8"></script>
    <script src="bower_components/c3/c3.min.js"></script>
    <script src="app/main.js"></script>
    <script src="app/factories.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/functions.js"></script>
    <script src="app/filters.js"></script>
</body>
</html>
